// E. Base

// E.1. Root
:root,
::after,
::before {
  --clr-black: #{$clr-black};
  --clr-white: #{$clr-white};

  --clr-primary-50: #{$clr-yellow-50};
  --clr-primary-100: #{$clr-yellow-100};
  --clr-primary-200: #{$clr-yellow-200};
  --clr-primary-300: #{$clr-yellow-300};
  --clr-primary-400: #{$clr-yellow-400};
  --clr-primary-500: #{$clr-yellow-500};
  --clr-primary-600: #{$clr-yellow-600};
  --clr-primary-700: #{$clr-yellow-700};
  --clr-primary-800: #{$clr-yellow-800};
  --clr-primary-900: #{$clr-yellow-900};

  --clr-secondary-50: #{$clr-lime-50};
  --clr-secondary-100: #{$clr-lime-100};
  --clr-secondary-200: #{$clr-lime-200};
  --clr-secondary-300: #{$clr-lime-300};
  --clr-secondary-400: #{$clr-lime-400};
  --clr-secondary-500: #{$clr-lime-500};
  --clr-secondary-600: #{$clr-lime-600};
  --clr-secondary-700: #{$clr-lime-700};
  --clr-secondary-800: #{$clr-lime-800};
  --clr-secondary-900: #{$clr-lime-900};

  --clr-accent-1-50: #{$clr-orange-50};
  --clr-accent-1-100: #{$clr-orange-100};
  --clr-accent-1-200: #{$clr-orange-200};
  --clr-accent-1-300: #{$clr-orange-300};
  --clr-accent-1-400: #{$clr-orange-400};
  --clr-accent-1-500: #{$clr-orange-500};
  --clr-accent-1-600: #{$clr-orange-600};
  --clr-accent-1-700: #{$clr-orange-700};
  --clr-accent-1-800: #{$clr-orange-800};
  --clr-accent-1-900: #{$clr-orange-900};

  --clr-accent-2-50: #{$clr-deep-orange-50};
  --clr-accent-2-100: #{$clr-deep-orange-100};
  --clr-accent-2-200: #{$clr-deep-orange-200};
  --clr-accent-2-300: #{$clr-deep-orange-300};
  --clr-accent-2-400: #{$clr-deep-orange-400};
  --clr-accent-2-500: #{$clr-deep-orange-500};
  --clr-accent-2-600: #{$clr-deep-orange-600};
  --clr-accent-2-700: #{$clr-deep-orange-700};
  --clr-accent-2-800: #{$clr-deep-orange-800};
  --clr-accent-2-900: #{$clr-deep-orange-900};

  --clr-gray-50: #{$clr-gray-50};
  --clr-gray-100: #{$clr-gray-100};
  --clr-gray-200: #{$clr-gray-200};
  --clr-gray-300: #{$clr-gray-300};
  --clr-gray-400: #{$clr-gray-400};
  --clr-gray-500: #{$clr-gray-500};
  --clr-gray-600: #{$clr-gray-600};
  --clr-gray-700: #{$clr-gray-700};
  --clr-gray-800: #{$clr-gray-800};
  --clr-gray-900: #{$clr-gray-900};
  --clr-gray-900: #{$clr-gray-900};

  --clr-html-400: #{$clr-html-400};
  --clr-css-400: #{$clr-css-400};
  --clr-javascript-400: #{$clr-javascript-400};
  --clr-bootstrap-400: #{$clr-bootstrap-400};
  --clr-react-400: #{$clr-react-400};
  --clr-laravel-400: #{$clr-laravel-400};

  --fsize-100: #{$fsize-100};
  --fsize-200: #{$fsize-200};
  --fsize-300: #{$fsize-300};
  --fsize-400: #{$fsize-400};
  --fsize-500: #{$fsize-500};
  --fsize-600: #{$fsize-600};
  --fsize-700: #{$fsize-700};
  --fsize-800: #{$fsize-800};
  --fsize-900: #{$fsize-900};
  --fsize-1000: #{$fsize-1000};

  --ff-primary: #{$ff-primary};
  --ff-secondary: #{$ff-secondary};
  --ff-monospace: #{$ff-monospace};

  --fw-regular: #{$fw-regular};
  --fw-medium: #{$fw-medium};
  --fw-bold: #{$fw-bold};

  --fs-normal: #{$fs-normal};
  --fs-italic: #{$fs-italic};

  --size-auto: #{size("auto")};
  --size-0: #{size(0)};
  --size-10: #{size(10)};
  --size-50: #{size(50)};
  --size-100: #{size(100)};
  --size-200: #{size(200)};
  --size-300: #{size(300)};
  --size-400: #{size(400)};
  --size-500: #{size(500)};
  --size-600: #{size(600)};
  --size-700: #{size(700)};
  --size-800: #{size(800)};
  --size-900: #{size(900)};
  --size-1000: #{size(1000)};

  --r-size-auto: #{r-size("auto")};
  --r-size-0: #{r-size(0)};
  --r-size-10: #{r-size(10)};
  --r-size-50: #{r-size(50)};
  --r-size-100: #{r-size(100)};
  --r-size-200: #{r-size(200)};
  --r-size-300: #{r-size(300)};
  --r-size-400: #{r-size(400)};
  --r-size-500: #{r-size(500)};
  --r-size-600: #{r-size(600)};
  --r-size-700: #{r-size(700)};
  --r-size-800: #{r-size(800)};
  --r-size-900: #{r-size(900)};
  --r-size-1000: #{r-size(1000)};

  --header-height: 56px;
  --alert-height: 30px;
  --section-decoration-height: 3rem;
}

/*
= Layers =

Default: 0
Header: 9
Modal: 10
Top Button: 8
*/

// Setup
// html {
//   scroll-behavior: smooth;
// }

body {
  font-size: var(--fsize-400);
  font-family: var(--ff-primary);
  font-weight: var(--fw-medium);
}

:focus {
  outline: 2px dashed color("deep-orange", 500);
}

// Type
code,
.code {
  font-family: var(--ff-monospace);
  font-weight: var(--fw-regular);
}

strong,
.strong {
  font-weight: var(--fw-bold);
}

em,
.em {
  font-style: var(--fs-italic);
}

sub,
.sub,
sup,
.sup {
  font-size: var(--fsize-300);
}

// Containers
.content {
  padding-top: var(--header-height);
  position: relative;
  isolation: isolate;
}

.container-fluid {
  width: calc(100vw - size(400));
  margin-inline: size("auto");
}

.container {
  --container-max-width: 1110px;
  width: min(100vw - size(400), var(--container-max-width));
  margin-inline: size("auto");
}

a,
a:where(:active, :visited) {
  --clr-link: var(--clr-accent-1-500);
  --clr-link-hover: var(--clr-accent-2-500);

  color: var(--clr-link);
  transition: color 0.3s ease-in-out;
}

a:where(:hover) {
  color: var(--clr-link-hover);
}

a.link-accent {
  --clr-link: var(--clr-accent-1-500);
  --clr-link-hover: var(--clr-accent-2-500);
}

// Buttons
.btn {
  --btn-padding: var(--r-size-50);
  --btn-box-shadow: #{box-shadow(400)};
  --btn-border-radius: var(--r-size-50);
  --btn-flex-direction: row;
  --btn-align-items: center;
  --btn-justify-content: center;
  --btn-gap: var(--r-size-100);
  --btn-fsize: var(--fsize-400);

  --btn-clr: var(--clr-gray-800);
  --btn-clr-bg: var(--clr-gray-50);
  --btn-clr-border: var(--clr-gray-50);

  --btn-clr-hover: var(--clr-gray-50);
  --btn-clr-hover-bg: var(--clr-gray-800);
  --btn-clr-hover-border: var(--clr-gray-800);

  display: inline-flex;
  flex-direction: var(--btn-flex-direction);
  align-items: var(--btn-align-items);
  justify-content: var(--btn-justify-content);
  gap: var(--btn-gap);
  padding: var(--btn-padding);
  box-shadow: var(--btn-box-shadow);
  color: var(--btn-clr);
  background-color: var(--btn-clr-bg);
  border: thin solid var(--btn-clr-border);
  border-radius: var(--btn-border-radius);
  text-decoration: none;
  font-size: var(--btn-fsize);
  transition: all 0.3s ease-in-out;
}

.btn:where(:hover) {
  color: var(--btn-clr-hover);
  background-color: var(--btn-clr-hover-bg);
  border-color: var(--btn-clr-hover-border);
}

.btn-header {
  --btn-padding: var(--size-200);
  --btn-box-shadow: none;
  --btn-border-radius: 0;

  --btn-clr: var(--clr-gray-900);
  --btn-clr-bg: var(--clr-primary-500);
  --btn-clr-border: var(--clr-primary-500);

  --btn-clr-hover: var(--clr-accent-2-500);
  --btn-clr-hover-bg: var(--clr-primary-200);
  --btn-clr-hover-border: var(--clr-primary-200);

  height: 100%;
}

.btn-header-dropdown {
  --btn-padding: var(--size-100);
  --btn-box-shadow: none;
  --btn-border-radius: 0;
  --btn-justify-content: start;
  --btn-gap: var(--size-10);

  --btn-clr: var(--clr-gray-900);
  --btn-clr-bg: var(--clr-primary-200);
  --btn-clr-border: var(--clr-primary-200);

  --btn-clr-hover: var(--clr-accent-2-500);
  --btn-clr-hover-bg: var(--clr-primary-100);
  --btn-clr-hover-border: var(--clr-primary-100);

  width: 100%;
}

.btn-footer {
  --btn-padding: 0;
  --btn-box-shadow: none;
  --btn-border-radius: 0;

  --btn-clr: var(--clr-gray-900);
  --btn-clr-bg: transparent;
  --btn-clr-border: transparent;

  --btn-clr-hover: var(--clr-accent-2-500);
  --btn-clr-hover-bg: transparent;
  --btn-clr-hover-border: transparent;
}

.btn-accent {
  --btn-padding: var(--r-size-100) var(--r-size-200);
  --btn-fsize: var(--fsize-300);

  --btn-clr: var(--clr-gray-50);
  --btn-clr-bg: var(--clr-accent-1-500);
  --btn-clr-border: var(--clr-accent-1-500);

  --btn-clr-hover: var(--clr-gray-50);
  --btn-clr-hover-bg: var(--clr-accent-2-500);
  --btn-clr-hover-border: var(--clr-accent-2-500);
}

.btn-top {
  --btn-flex-direction: column;
  --btn-gap: 0;

  position: fixed;
  right: var(--size-200);
  bottom: var(--size-200);
  z-index: 8;
}

// Other Global Elements
.nav-list {
  --nav-list-justify-content: center;

  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: var(--nav-list-justify-content);
  flex-wrap: wrap;
}
