.project-types-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: var(--size-600);
}

@media (min-width: breakpoint("md")) {
  .project-types-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-carousel {
  display: grid;
  gap: var(--size-200);
  max-width: 100vw;
  padding-inline: var(--size-200);
}

.card-carousel:not(:has(:nth-child(3))) {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.card-carousel:has(:nth-child(3)) {
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  overflow-x: scroll;
}

@media (min-width: breakpoint("md")) {
  .card-carousel:has(:nth-child(3)) {
    grid-auto-columns: calc(100% / 3);
  }
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: box-shadow(400);
  border-radius: var(--r-size-50);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  isolation: isolate;
  background-color: var(--clr-gray-800);
  text-decoration: none;
}

.card-featured {
  background-color: var(--clr-lime-800);
}

a.card-featured {
  color: var(--clr-gray-50);
}

.card:where(:hover) {
  background-color: var(--clr-accent-2-500);
}

.card-corner {
  padding: var(--r-size-50);
  background-color: var(--clr-gray-800);
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: 1;
  border: thin solid var(--clr-gray-900);
  border-radius: 0 var(--r-size-50);
}

.card:where(:hover) .card-corner {
  background-color: var(--clr-accent-2-500);
}

.card-corner-top-left {
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
}

.card-corner-top-right {
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
}

.card-corner-bottom-left {
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
}

.card-corner-bottom-right {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.card:where(:hover) {
  color: var(--clr-gray-50);
  background-color: var(--clr-accent-2-500);
}

.card-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.card:where(:hover) .card-image {
  opacity: 0.8;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: var(--size-200);
}

.skills-grid {
  --skills-cell-count: 3;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(var(--skills-cell-count, 1), max-content);
  justify-items: center;
  gap: var(--size-400);
}

.skills-cell {
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
  text-align: center;
}

@media (min-width: breakpoint("md")) {
  .skills-grid {
    grid-template-columns: repeat(var(--skills-cell-count, 1), 1fr);
    grid-template-rows: auto;
  }

  .skills-cell {
    text-align: left;
  }
}

.additional-content-grid {
  display: grid;
  gap: var(--size-400);
}

.additional-content-cell {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--size-200);
}

.additional-content-cell__image {
  aspect-ratio: 16/9;
  object-fit: cover;
}

@media (min-width: breakpoint("md")) {
  .additional-content-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-800);
  }
}

.timeline-carousel {
  display: grid;
  gap: var(--size-200);
  max-width: 100vw;
  padding-inline: var(--size-200);
}

.timeline-carousel:not(:has(:nth-child(3))) {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.timeline-carousel:has(:nth-child(3)) {
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: scroll;
}

@media (min-width: breakpoint("md")) {
  .timeline-carousel:has(:nth-child(3)) {
    grid-auto-columns: calc(100% / 3);
  }
}

.timeline-card {
  --timeline-card-clr: var(--clr-gray-900);
  --timeline-card-clr-bg: var(--clr-primary-300);

  color: var(--timeline-card-clr);
  background-color: var(--timeline-card-clr-bg);
  text-align: center;
  padding: var(--size-200);
  border-radius: r-border-radius(50);
  box-shadow: box-shadow(400);
}

.card-grid {
  --card-grid-cols: 1;

  display: grid;
  grid-template-columns: repeat(var(--card-grid-cols, 1), 1fr);
  gap: var(--r-size-200);
}

@media (min-width: breakpoint("md")) {
  .card-grid {
    --card-grid-cols: 3;
  }
}

.project-item-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, max-content);
  gap: var(--r-size-400);
}

.project-item-cell {
  display: flex;
  flex-direction: column;

  p, ul, ol {
    margin-bottom: var(--r-size-200);
  }

  ul, ol {
    padding-left: var(--r-size-400);
  }
}

.project-item-cell-title {
  text-align: center;
  grid-row: 2;
}

.project-item-cell-image {
  align-items: center;
  justify-content: center;
}

.project-item-cell-content {
  text-align: center;
}

.project-item-category {
  display: inline-flex;
  align-items: center;
  gap: var(--r-size-100);
}

.project-item-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

@media (min-width: breakpoint("md")) {
  .project-item-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .project-item-cell-title {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: left;
  }
  
  .project-item-cell-image {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .project-item-cell-content {
    text-align: left;
  }
}