// A. Fonts

// A.1. Nunito
@font-face {
  font-family: Nunito;
  font-style: normal;
  src: url("./fonts/nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Nunito;
  font-style: italic;
  src: url("./fonts/nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Nunito;
  font-style: oblique;
  src: url("./fonts/nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
}

// A.2. Montserrat
@font-face {
  font-family: Montserrat;
  font-style: normal;
  src: url("./fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  src: url("./fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-style: oblique;
  src: url("./fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
}

// A.3. Ubuntu Mono
@font-face {
  font-family: "Ubuntu Mono";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/ubuntu-mono/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/ubuntu-mono/UbuntuMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/ubuntu-mono/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-weight: 700;
  font-style: italic;
  src: url("./fonts/ubuntu-mono/UbuntuMono-BoldItalic.ttf") format("truetype");
}