.main-footer {
  color: var(--clr-gray-900);
  background-color: var(--clr-primary-500);
}

.main-footer-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, max-content);
  gap: var(--size-100);
  text-align: center;
  padding-block: var(--size-200);
}

.main-footer-content .nav-list {
  flex-direction: column;
}

.main-footer-divider {
  --divider-clr: var(--clr-gray-900);

  height: 1px;
  width: 100%;
  background-color: var(--divider-clr);
}

.main-footer-copyright {
  padding-block: var(--size-200);
}

@media (min-width: 48em) {
  .main-footer-content {
    width: 100%;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .main-footer-content .nav-list {
    justify-content: start;
    flex-direction: row;
  }

  .main-footer-content .nav-list-item {
    width: 50%;
  }

  .main-footer-content [data-element="main-footer-contact-nav"] .nav-list-item {
    width: 100%;
  }

  .main-footer-content .btn-footer {
    --btn-justify-content: start;
  }
}
