.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--clr-gray-900);
  background-color: var(--clr-primary-500);
}

.main-header-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 9;
  isolation: isolate;
}

.main-nav {
  display: flex;
  justify-content: center;
}

[data-element="main-nav-mobile"] {
  display: none;
}

[data-element="main-header-close"] {
  --size: var(--size-300);

  display: none;
  position: fixed;
  top: var(--size-500);
  right: var(--size-500);
  width: var(--size);
  height: var(--size);
  font-size: var(--fsize-500);
  z-index: 3;
}

.brand-line {
  --line-height: 1px;
  --line-width: 2em;
  --line-clr: var(--clr-gray-900);

  width: var(--line-width);
  height: var(--line-height);
  background-color: var(--line-clr);
  transition: background-color 0.3s ease-in-out;
}

.btn-header:where(:hover) .brand-line {
  --line-clr: var(--clr-accent-2-500);
}

.dropdown-toggle {
  --btn-gap: var(--size-100);
}

.dropdown-toggle::after {
  content: "\f078";
  font-family: FontAwesome;
  display: block;
  font-size: var(--fsize-100);
}

.dropdown-menu {
  --dropdown-menu-width: 18ch;

  display: none;
  position: absolute;
  flex-direction: column;
  width: var(--dropdown-menu-width);
  background-color: var(--clr-primary-200);
  box-shadow: box-shadow(400);
}

.dropdown-toggle:where(:hover, :focus-within) + .dropdown-menu {
  display: flex;
}

.dropdown-menu:where(:hover, :focus-within) {
  display: flex;
}

@media (max-width: breakpoint("md") - 0.01em) {
  .main-header-content {
    grid-template-columns: repeat(2, 1fr);
  }

  [data-element="main-nav-mobile"] {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: end;
  }

  [data-element="main-nav-left"] {
    display: none;
  }

  [data-element="main-nav-center"] {
    grid-column: 1 / 2;
    grid-row: 1;
    justify-self: start;
  }

  [data-element="main-nav-right"] {
    display: none;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .brand-line {
    display: none;
  }

  .main-header[data-expanded="true"] {
    position: fixed;
    z-index: 9;
    top: var(--size-200);
    left: var(--size-200);
    width: calc(100vw - var(--size-400));
    height: calc(100vh - var(--size-400));
    overflow-y: auto;
    box-shadow: box-shadow(400);

    .main-header-content {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, max-content);
    }

    [data-element="main-header-close"] {
      display: flex;
    }

    [data-element="main-nav-mobile"] {
      display: none;
    }

    [data-element="main-nav-left"] {
      width: 100%;
      display: flex;
      justify-self: start;
    }

    [data-element="main-nav-left"] .nav-list {
      flex-direction: column;
    }

    [data-element="main-nav-right"] {
      display: flex;
      justify-self: start;
    }

    [data-element="main-nav-right"] .nav-list {
      flex-direction: column;
    }

    .btn,
    .btn-header {
      --btn-justify-content: start;
    }

    .btn,
    .btn-header {
      --btn-justify-content: start;
    }

    .main-nav {
      width: 100%;
    }

    .nav-list {
      width: 100%;
    }

    .nav-list > .nav-list-item {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(2, max-content);
    }

    .dropdown-menu {
      display: none;
      width: 100%;
      position: static;
      width: 100%;
      overflow: hidden;
      box-shadow: none;
    }

    .dropdown-menu[data-expanded="true"] {
      display: flex;
    }

    .dropdown-toggle::after {
      display: block;
    }

    .dropdown-menu * {
      width: 100%;
    }
  }
}
