.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--r-size-50);
}

.pagination-link {
    --pagination-size: 1.8em;
    --pagination-fsize: var(--fsize-200);
    --pagination-box-shadow: none;

    --pagination-clr: var(--clr-gray-50);
    --pagination-clr-bg: transparent;

    --pagination-clr-hover: var(--clr-gray-50);
    --pagination-clr-hover-bg: var(--clr-accent-2-500);

    min-width: var(--pagination-size);
    height: var(--pagination-size);
    padding: var(--r-size-50);
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 100vmax;
    font-size: var(--pagination-fsize);
    text-decoration: none;
    color: var(--pagination-clr);
    background-color: var(--pagination-clr-bg);
    box-shadow: var(--pagination-box-shadow);
    transition: all 0.3s ease-in-out;
}

a.pagination-link {
    --pagination-clr: var(--clr-accent-1-500);

    &:where(:hover) {
        color: var(--pagination-clr-hover);
        background-color: var(--pagination-clr-hover-bg);
    }
}

.pagination-link.active {
    --pagination-box-shadow: #{box-shadow(400)};

    --pagination-clr: var(--clr-gray-50);
    --pagination-clr-bg: var(--clr-accent-1-500);

    --pagination-clr-hover: var(--clr-gray-50);
    --pagination-clr-hover-bg: var(--clr-accent-2-500);
}