/// = Sections =
.section {
  --section-clr-bg: transparent;

  --section-inner-padding: var(--size-400) 0;
  --section-inner-min-height: 100vh;

  --section-pseudo-height: var(--section-decoration-height);

  display: flex;
  flex-direction: column;
  background-color: var(--section-clr-bg);
}

.section-gray-900 {
  --section-clr-bg: var(--clr-gray-900);
}

.section-gray-800 {
  --section-clr-bg: var(--clr-gray-800);
}

.section-primary-200 {
  --section-clr-bg: var(--clr-primary-200);
}

.section-white {
  --section-clr-bg: var(--clr-white);
}

.section::after {
  --clr-section-decoration-start: var(--clr-gray-400);
  --clr-section-decoration-end: var(--clr-gray-500);
  --section-decoration-direction: to bottom right;

  content: "";
  display: block;
  width: 100%;
  height: var(--section-decoration-height);
  background-image: linear-gradient(
    var(--section-decoration-direction),
    var(--clr-section-decoration-start) 0%,
    var(--clr-section-decoration-start) 49%,
    var(--clr-section-decoration-end) 50%,
    var(--clr-section-decoration-end) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.section.section-gray-900-to-gray-900::after {
  --clr-section-decoration-start: var(--clr-gray-900);
  --clr-section-decoration-end: var(--clr-gray-900);
}

.section.section-gray-900-to-gray-800::after {
  --clr-section-decoration-start: var(--clr-gray-900);
  --clr-section-decoration-end: var(--clr-gray-800);
}

.section.section-gray-900-to-primary-200::after {
  --clr-section-decoration-start: var(--clr-gray-900);
  --clr-section-decoration-end: var(--clr-primary-200);
}

.section.section-gray-900-to-white::after {
  --clr-section-decoration-start: var(--clr-gray-900);
  --clr-section-decoration-end: var(--clr-white);
}

.section.section-gray-800-to-gray-800::after {
  --clr-section-decoration-start: var(--clr-gray-800);
  --clr-section-decoration-end: var(--clr-gray-800);
}

.section.section-gray-800-to-gray-900::after {
  --clr-section-decoration-start: var(--clr-gray-800);
  --clr-section-decoration-end: var(--clr-gray-900);
}

.section.section-gray-800-to-primary-200::after {
  --clr-section-decoration-start: var(--clr-gray-800);
  --clr-section-decoration-end: var(--clr-primary-200);
}

.section.section-gray-800-to-white::after {
  --clr-section-decoration-start: var(--clr-gray-800);
  --clr-section-decoration-end: var(--clr-white);
}

.section.section-primary-200-to-primary-200::after {
  --clr-section-decoration-start: var(--clr-primary-200);
  --clr-section-decoration-end: var(--clr-primary-200);
}

.section.section-primary-200-to-gray-900::after {
  --clr-section-decoration-start: var(--clr-primary-200);
  --clr-section-decoration-end: var(--clr-gray-900);
}

.section.section-primary-200-to-gray-800::after {
  --clr-section-decoration-start: var(--clr-primary-200);
  --clr-section-decoration-end: var(--clr-gray-800);
}

.section.section-primary-200-to-white::after {
  --clr-section-decoration-start: var(--clr-primary-200);
  --clr-section-decoration-end: var(--clr-white);
}

.section.section-white-to-primary-200::after {
  --clr-section-decoration-start: var(--clr-white);
  --clr-section-decoration-end: var(--clr-primary-200);
}

.section.section-white-to-gray-900::after {
  --clr-section-decoration-start: var(--clr-white);
  --clr-section-decoration-end: var(--clr-gray-900);
}

.section.section-white-to-gray-800::after {
  --clr-section-decoration-start: var(--clr-white);
  --clr-section-decoration-end: var(--clr-gray-800);
}

.section.section-white-to-white::after {
  --clr-section-decoration-start: var(--clr-white);
  --clr-section-decoration-end: var(--clr-white);
}

.section.section-reverse::after {
  --section-decoration-direction: to bottom left;
}

.section.section-no-decoration::after {
  display: none;
}

.section-inner {
  --section-inner-grid-gap: var(--size-400);

  display: grid;
  padding: var(--section-inner-padding);
  gap: var(--section-inner-grid-gap);
}

.section-inner-hero {
  --section-inner-min-height: 50vh;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 30vh;
}

.section-inner-landing-hero {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: calc(
    var(--section-inner-min-height) - var(--section-pseudo-height) -
      var(--header-height)
  );
}
.section-inner-landing-hero__content-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section-inner-hero__content-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section-inner-hero__icon-cell {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 48em) {
  .section-inner-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .section-inner-landing-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .section-inner-landing-hero__content-cell {
    align-items: start;
    text-align: left;
  }

  .section-inner-hero__icon-cell {
    display: flex;
  }
}

.section-inner-hero__icon-cell__icon-container {
  position: relative;
  isolation: isolate;
}

.section-inner-hero__icon-cell__icon-container::before {
  content: "";
  display: block;
  position: absolute;
  inset: calc(var(--size-600) * -1);
  // background-color: hsla(0, 0%, 50%, 0.3);
  background-image: linear-gradient(
    to top right,
    hsla(0, 0%, 50%, 0.3),
    hsla(0, 0%, 40%, 0.3)
  );
  animation-name: hero-icon-before;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.section-inner-hero__icon-cell__icon-container::after {
  content: "";
  display: block;
  position: absolute;
  inset: calc(var(--size-600) * -1);
  background-image: linear-gradient(
    to bottom left,
    hsla(0, 0%, 50%, 0.3),
    hsla(0, 0%, 40%, 0.3)
  );
  animation-name: hero-icon-after;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.section-inner-hero__icon-cell__icon-container__icon {
  --hero-icon-size: 10rem;
  --hero-icon-fsize: 10rem;
  width: var(--hero-icon-size);
  height: var(--hero-icon-size);
  font-size: var(--hero-icon-fsize);
  z-index: 2;
  position: relative;
}

@keyframes hero-icon-before {
  0% {
    border-radius: 30% 50% 30% 50%;
    transform: translate(-3%, -3%);
  }
  25% {
    border-radius: 50% 30% 50% 30%;
    transform: translate(5%, -3%);
  }
  50% {
    border-radius: 30% 50% 30% 50%;
    transform: translate(5%, 5%);
  }
  75% {
    border-radius: 50% 30% 50% 30%;
    transform: translate(-3%, 3%);
  }
  100% {
    border-radius: 30% 50% 30% 50%;
    transform: translate(-3%, -3%);
  }
}

@keyframes hero-icon-after {
  0% {
    border-radius: 40% 30% 40% 30%;
    transform: translate(3%, 5%);
  }
  25% {
    border-radius: 30% 40% 30% 40%;
    transform: translate(-3%, 3%);
  }
  50% {
    border-radius: 40% 30% 40% 30%;
    transform: translate(-5%, -3%);
  }
  75% {
    border-radius: 30% 40% 30% 40%;
    transform: translate(3%, -3%);
  }
  100% {
    border-radius: 40% 30% 40% 30%;
    transform: translate(3%, 5%);
  }
}
