// D. Variables

// D.1. Colors
$clr-black: black;
$clr-white: white;

$clr-gray-50: color("gray", 50);
$clr-gray-100: color("gray", 100);
$clr-gray-200: color("gray", 200);
$clr-gray-300: color("gray", 300);
$clr-gray-400: color("gray", 400);
$clr-gray-500: color("gray", 500);
$clr-gray-600: color("gray", 600);
$clr-gray-700: color("gray", 700);
$clr-gray-800: color("gray", 800);
$clr-gray-900: color("gray", 900);

$clr-red-50: color("red", 50);
$clr-red-100: color("red", 100);
$clr-red-200: color("red", 200);
$clr-red-300: color("red", 300);
$clr-red-400: color("red", 400);
$clr-red-500: color("red", 500);
$clr-red-600: color("red", 600);
$clr-red-700: color("red", 700);
$clr-red-800: color("red", 800);
$clr-red-900: color("red", 900);

$clr-pink-50: color("pink", 50);
$clr-pink-100: color("pink", 100);
$clr-pink-200: color("pink", 200);
$clr-pink-300: color("pink", 300);
$clr-pink-400: color("pink", 400);
$clr-pink-500: color("pink", 500);
$clr-pink-600: color("pink", 600);
$clr-pink-700: color("pink", 700);
$clr-pink-800: color("pink", 800);
$clr-pink-900: color("pink", 900);

$clr-purple-50: color("purple", 50);
$clr-purple-100: color("purple", 100);
$clr-purple-200: color("purple", 200);
$clr-purple-300: color("purple", 300);
$clr-purple-400: color("purple", 400);
$clr-purple-500: color("purple", 500);
$clr-purple-600: color("purple", 600);
$clr-purple-700: color("purple", 700);
$clr-purple-800: color("purple", 800);
$clr-purple-900: color("purple", 900);

$clr-deep-purple-50: color("deep-purple", 50);
$clr-deep-purple-100: color("deep-purple", 100);
$clr-deep-purple-200: color("deep-purple", 200);
$clr-deep-purple-300: color("deep-purple", 300);
$clr-deep-purple-400: color("deep-purple", 400);
$clr-deep-purple-500: color("deep-purple", 500);
$clr-deep-purple-600: color("deep-purple", 600);
$clr-deep-purple-700: color("deep-purple", 700);
$clr-deep-purple-800: color("deep-purple", 800);
$clr-deep-purple-900: color("deep-purple", 900);

$clr-indigo-50: color("indigo", 50);
$clr-indigo-100: color("indigo", 100);
$clr-indigo-200: color("indigo", 200);
$clr-indigo-300: color("indigo", 300);
$clr-indigo-400: color("indigo", 400);
$clr-indigo-500: color("indigo", 500);
$clr-indigo-600: color("indigo", 600);
$clr-indigo-700: color("indigo", 700);
$clr-indigo-800: color("indigo", 800);
$clr-indigo-900: color("indigo", 900);

$clr-blue-50: color("blue", 50);
$clr-blue-100: color("blue", 100);
$clr-blue-200: color("blue", 200);
$clr-blue-300: color("blue", 300);
$clr-blue-400: color("blue", 400);
$clr-blue-500: color("blue", 500);
$clr-blue-600: color("blue", 600);
$clr-blue-700: color("blue", 700);
$clr-blue-800: color("blue", 800);
$clr-blue-900: color("blue", 900);

$clr-light-blue-50: color("light-blue", 50);
$clr-light-blue-100: color("light-blue", 100);
$clr-light-blue-200: color("light-blue", 200);
$clr-light-blue-300: color("light-blue", 300);
$clr-light-blue-400: color("light-blue", 400);
$clr-light-blue-500: color("light-blue", 500);
$clr-light-blue-600: color("light-blue", 600);
$clr-light-blue-700: color("light-blue", 700);
$clr-light-blue-800: color("light-blue", 800);
$clr-light-blue-900: color("light-blue", 900);

$clr-cyan-50: color("cyan", 50);
$clr-cyan-100: color("cyan", 100);
$clr-cyan-200: color("cyan", 200);
$clr-cyan-300: color("cyan", 300);
$clr-cyan-400: color("cyan", 400);
$clr-cyan-500: color("cyan", 500);
$clr-cyan-600: color("cyan", 600);
$clr-cyan-700: color("cyan", 700);
$clr-cyan-800: color("cyan", 800);
$clr-cyan-900: color("cyan", 900);

$clr-teal-50: color("teal", 50);
$clr-teal-100: color("teal", 100);
$clr-teal-200: color("teal", 200);
$clr-teal-300: color("teal", 300);
$clr-teal-400: color("teal", 400);
$clr-teal-500: color("teal", 500);
$clr-teal-600: color("teal", 600);
$clr-teal-700: color("teal", 700);
$clr-teal-800: color("teal", 800);
$clr-teal-900: color("teal", 900);

$clr-green-50: color("green", 50);
$clr-green-100: color("green", 100);
$clr-green-200: color("green", 200);
$clr-green-300: color("green", 300);
$clr-green-400: color("green", 400);
$clr-green-500: color("green", 500);
$clr-green-600: color("green", 600);
$clr-green-700: color("green", 700);
$clr-green-800: color("green", 800);
$clr-green-900: color("green", 900);

$clr-light-green-50: color("light-green", 50);
$clr-light-green-100: color("light-green", 100);
$clr-light-green-200: color("light-green", 200);
$clr-light-green-300: color("light-green", 300);
$clr-light-green-400: color("light-green", 400);
$clr-light-green-500: color("light-green", 500);
$clr-light-green-600: color("light-green", 600);
$clr-light-green-700: color("light-green", 700);
$clr-light-green-800: color("light-green", 800);
$clr-light-green-900: color("light-green", 900);

$clr-lime-50: color("lime", 50);
$clr-lime-100: color("lime", 100);
$clr-lime-200: color("lime", 200);
$clr-lime-300: color("lime", 300);
$clr-lime-400: color("lime", 400);
$clr-lime-500: color("lime", 500);
$clr-lime-600: color("lime", 600);
$clr-lime-700: color("lime", 700);
$clr-lime-800: color("lime", 800);
$clr-lime-900: color("lime", 900);

$clr-yellow-50: color("yellow", 50);
$clr-yellow-100: color("yellow", 100);
$clr-yellow-200: color("yellow", 200);
$clr-yellow-300: color("yellow", 300);
$clr-yellow-400: color("yellow", 400);
$clr-yellow-500: color("yellow", 500);
$clr-yellow-600: color("yellow", 600);
$clr-yellow-700: color("yellow", 700);
$clr-yellow-800: color("yellow", 800);
$clr-yellow-900: color("yellow", 900);

$clr-amber-50: color("amber", 50);
$clr-amber-100: color("amber", 100);
$clr-amber-200: color("amber", 200);
$clr-amber-300: color("amber", 300);
$clr-amber-400: color("amber", 400);
$clr-amber-500: color("amber", 500);
$clr-amber-600: color("amber", 600);
$clr-amber-700: color("amber", 700);
$clr-amber-800: color("amber", 800);
$clr-amber-900: color("amber", 900);

$clr-orange-50: color("orange", 50);
$clr-orange-100: color("orange", 100);
$clr-orange-200: color("orange", 200);
$clr-orange-300: color("orange", 300);
$clr-orange-400: color("orange", 400);
$clr-orange-500: color("orange", 500);
$clr-orange-600: color("orange", 600);
$clr-orange-700: color("orange", 700);
$clr-orange-800: color("orange", 800);
$clr-orange-900: color("orange", 900);

$clr-deep-orange-50: color("deep-orange", 50);
$clr-deep-orange-100: color("deep-orange", 100);
$clr-deep-orange-200: color("deep-orange", 200);
$clr-deep-orange-300: color("deep-orange", 300);
$clr-deep-orange-400: color("deep-orange", 400);
$clr-deep-orange-500: color("deep-orange", 500);
$clr-deep-orange-600: color("deep-orange", 600);
$clr-deep-orange-700: color("deep-orange", 700);
$clr-deep-orange-800: color("deep-orange", 800);
$clr-deep-orange-900: color("deep-orange", 900);

$clr-brown-50: color("brown", 50);
$clr-brown-100: color("brown", 100);
$clr-brown-200: color("brown", 200);
$clr-brown-300: color("brown", 300);
$clr-brown-400: color("brown", 400);
$clr-brown-500: color("brown", 500);
$clr-brown-600: color("brown", 600);
$clr-brown-700: color("brown", 700);
$clr-brown-800: color("brown", 800);
$clr-brown-900: color("brown", 900);

$clr-blue-gray-50: color("blue-gray", 50);
$clr-blue-gray-100: color("blue-gray", 100);
$clr-blue-gray-200: color("blue-gray", 200);
$clr-blue-gray-300: color("blue-gray", 300);
$clr-blue-gray-400: color("blue-gray", 400);
$clr-blue-gray-500: color("blue-gray", 500);
$clr-blue-gray-600: color("blue-gray", 600);
$clr-blue-gray-700: color("blue-gray", 700);
$clr-blue-gray-800: color("blue-gray", 800);
$clr-blue-gray-900: color("blue-gray", 900);

$clr-html-400: color("html", 400);
$clr-css-400: color("css", 400);
$clr-javascript-400: color("javascript", 400);
$clr-bootstrap-400: color("bootstrap", 400);
$clr-react-400: color("react", 400);
$clr-laravel-400: color("laravel", 400);

// D.2. Font Families
$ff-primary: family("primary");
$ff-secondary: family("secondary");
$ff-monospace: family("monospace");

// D.3. Font Sizes
$fsize-base: fsize("base");
$fsize-100: fsize(100);
$fsize-200: fsize(200);
$fsize-300: fsize(300);
$fsize-400: fsize(400);
$fsize-500: fsize(500);
$fsize-600: fsize(600);
$fsize-700: fsize(700);
$fsize-800: fsize(800);
$fsize-900: fsize(900);
$fsize-1000: fsize(1000);

// D.4. Font Weights
$fw-thin: weight("thin");
$fw-extra-light: weight("extra-light");
$fw-light: weight("light");
$fw-regular: weight("regular");
$fw-medium: weight("medium");
$fw-semibold: weight("semibold");
$fw-bold: weight("bold");
$fw-extra-bold: weight("extra-bold");
$fw-black: weight("black");

// D.5. Font Styles
$fs-normal: style("normal");
$fs-italic: style("italic");
$fs-oblique: style("oblique");
