---
import MainAstroLayout from "./../layouts/main.layout.astro"
import ContentAstroComponent from "./../components/content.component.astro"

const timelineItems = await Astro.glob("../content/timeline/*.md")
---

<MainAstroLayout>
  <section
    id="home"
    class="section section-primary-200 section-primary-200-to-gray-800 clr-gray-800 clr-gray-900"
  >
    <div class="section-inner container section-inner-hero">
      <div class="section-inner-hero__content-cell">
        <h1 class="ff-secondary fsize-700 fw-medium">About</h1>
      </div>
      <div class="section-inner-hero__icon-cell">
        <div class="section-inner-hero__icon-cell__icon-container">
          <i
            class="fa-duotone fa-question section-inner-hero__icon-cell__icon-container__icon clr-yellow-500"
          ></i>
        </div>
      </div>
    </div>
  </section>

  <section
    id="all-skills"
    class="section section-gray-800 section-gray-800-to-gray-900 section-reverse"
  >
    <div class="section-inner container">
      <h2
        class="ff-secondary fsize-700 fw-medium clr-yellow-500 ta-center m-b-600"
      >
        All Skills
      </h2>

      <div class="skills-grid m-b-600" style="--skills-cell-count: 4">
        <div class="skills-cell">
          <h3 class="fsize-600 fw-medium clr-yellow-300">Frontend</h3>

          <ul class="list-style-none">
            <li>HTML/HTML5</li>
            <li>CSS/CSS3</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>SASS</li>
            <li>Bootstrap</li>
            <li>Tailwind</li>
            <li>Material UI</li>
            <li>React</li>
            <li>JSX</li>
            <li>GatsbyJS</li>
            <li>Astro SSG</li>
            <li>Responsive Web Design</li>
          </ul>
        </div>

        <div class="skills-cell">
          <h3 class="fsize-600 fw-medium clr-yellow-300">Backend</h3>

          <ul class="list-style-none">
            <li>PHP</li>
            <li>Laravel</li>
            <li>WordPress/WooCommerce</li>
            <li>NodeJS</li>
            <li>PHPUnit</li>
            <li>Jest</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>REST API</li>
            <li>Sequelize</li>
            <li>Express</li>
            <li>GrapQL</li>
            <li>Vite</li>
          </ul>
        </div>

        <div class="skills-cell">
          <h3 class="fsize-600 fw-medium clr-yellow-300">DevOps</h3>

          <ul class="list-style-none">
            <li>Netlify</li>
            <li>Heroku</li>
            <li>Amazon AWS</li>
            <li>CPanel</li>
            <li>Docker</li>
            <li>CI/CD</li>
          </ul>
        </div>

        <div class="skills-cell">
          <h3 class="fsize-600 fw-medium clr-yellow-300">Tools</h3>

          <ul class="list-style-none">
            <li>Git</li>
            <li>GitHub</li>
            <li>BitBucket</li>
            <li>Figma</li>
            <li>Adobe XD</li>
            <li>Photoshop</li>
            <li>Illustrator</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section
    id="timeline"
    class="section section-gray-900 section-gray-900-to-gray-900"
  >
    <div class="section-inner">
      <div class="container">
        <h2
          class="ff-secondary fsize-700 fw-medium clr-yellow-500 ta-center m-b-600"
        >
          Timeline
        </h2>

        <div class="timeline-carousel p-b-200">
          {
            timelineItems.map(({ frontmatter, Content }) => (
              <div class="timeline-card">
                <p class="fsize-500 m-b-200">
                  {frontmatter.period}
                </p>
                <Content />
              </div>
            ))
          }
        </div>

        <p class="ta-center fsize-300 m-t-200">
          <em>Scroll left and right to see more.</em>
        </p>
      </div>
    </div>
  </section>
</MainAstroLayout>
