---
import MainAstroLayout from "./../layouts/main.layout.astro"
---
<MainAstroLayout>
  <section
    id="home"
    class="section section-primary-200 section-primary-200-to-gray-800 clr-gray-800 section-reverse clr-gray-900"
  >
    <div class="section-inner container section-inner-hero">
      <div class="section-inner-hero__content-cell">
        <h1 class="ff-secondary fsize-700 fw-medium">Portfolio</h1>
      </div>
      <div class="section-inner-hero__icon-cell">
        <div class="section-inner-hero__icon-cell__icon-container">
          <i
            class="fa-duotone fa-laptop-code section-inner-hero__icon-cell__icon-container__icon clr-yellow-500"
          ></i>
        </div>
      </div>
    </div>
  </section>

  <section
    id="project-info"
    class="section section-gray-800 section-gray-800-to-gray-900"
  >
    <div class="section-inner container">
      <div class="project-item-grid">
        <div class="project-item-cell project-item-cell-title">
          <h2 class="ff-secondary fsize-700 fw-medium clr-yellow-500">
            Project Title
          </h2>
          <p class="ff-secondary fsize-500">Project Subtitle</p>
          <div>
            <div
              class="project-item-category | fsize-300 clr-javascript-400 m-b-400"
            >
              <i class="fa-brands fa-js"></i> JavaScript
            </div>
          </div>

          <p class="m-b-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            maxime laudantium porro iusto recusandae voluptatum voluptas nisi
            voluptatibus a nostrum dignissimos eius illum expedita quibusdam
            architecto dolorem, doloremque velit vero ut voluptatem placeat quos
            ipsum eum. Tempore corporis distinctio recusandae maiores iste,
            delectus explicabo cupiditate et rem at dolore! Necessitatibus?
          </p>

          <p>
            <a href="#" class="btn btn-accent">
              View Demo <i class="fa-solid fa-chevron-right"></i>
            </a>
          </p>
        </div>
        <!-- ./project-item-cell -->

        <div class="project-item-cell project-item-cell-image">
          <img
            src="./images/fem-projects.jpg"
            alt="Project Screenshot"
            class="project-item-image"
          />
        </div>
      </div>
    </div>
  </section>

  <section
    class="project-details section section-gray-900 section-gray-900-to-gray-900"
  >
    <div class="section-inner container">
      <div class="project-item-grid">
        <div class="project-item-cell project-item-cell-tech-stack ta-center">
          <h3 class="ff-secondary fsize-700 fw-medium clr-yellow-500 m-b-400">
            Tech Stack
          </h3>

          <h3 class="ff-secondary fsize-300 fw-medium clr-yellow-300">
            Frontend
          </h3>
          <p class="m-b-400">HTML, CSS</p>

          <h3 class="ff-secondary fsize-300 fw-medium clr-yellow-300">
            Backend
          </h3>
          <p class="m-b-400">PHP</p>

          <h3 class="ff-secondary fsize-300 fw-medium clr-yellow-300">
            Deployment
          </h3>
          <p>GitHub Pages</p>
        </div>
        <div class="project-item-cell project-item-cell-content">
          <h3
            class="ff-secondary fsize-700 fw-medium clr-yellow-500 m-b-400 ta-center"
          >
            About
          </h3>

          <p class="m-b-400">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum
            temporibus distinctio possimus adipisci magnam similique ex minima
            exercitationem suscipit. Optio?
          </p>
          <p class="m-b-400">
            Autem, placeat nemo. Pariatur, natus! Tempore corrupti architecto
            dicta ipsa optio deserunt ipsum, dolores autem voluptates placeat
            quisquam eum delectus?
          </p>
          <p>
            Rerum maxime animi debitis, recusandae accusamus nisi laudantium vel
            fugit illum temporibus voluptate praesentium magnam asperiores
            officiis, quibusdam suscipit odit?
          </p>
        </div>
      </div>
    </div>
  </section>
</MainAstroLayout>
