---
const {
  alertHtml = ""
} = Astro.props
---
<header class="main-header" data-element="main-header">
  <Fragment set:html={alertHtml}></Fragment>
  <div class="main-header-content">
    <nav class="main-nav" data-element="main-nav-mobile">
      <ul class="nav-list" role="list">
        <li class="nav-list-item">
          <a
            href="#"
            class="btn btn-header"
            data-element="btn-header-joke-mobile"
          >
            <i class="fa-duotone fa-face-laugh-beam"></i>
          </a>
        </li>
        <li class="nav-list-item">
          <a
            href="#"
            class="btn btn-header"
            data-element="main-header-expand"
          >
            <i class="fa-solid fa-bars"></i>
          </a>
        </li>
      </ul>
    </nav>

    <a href="#" class="btn btn-header" data-element="main-header-close">
      <i class="fa-solid fa-times"></i>
    </a>

    <nav class="main-nav" data-element="main-nav-left">
      <ul class="nav-list" role="list">
        <li class="nav-list-item">
          <a href="/about" class="btn btn-header">About</a>
        </li>
        <li class="nav-list-item">
          <a href="/portfolio" class="btn btn-header">Portfolio</a>
        </li>
      </ul>
    </nav>

    <nav class="main-nav" data-element="main-nav-center">
      <ul class="nav-list" role="list">
        <li class="nav-list-item">
          <a href="/" class="btn btn-header">
            <div class="brand-line"></div>
            <div class="ff-secondary fsize-500">D/D</div>
            <div class="brand-line"></div>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="main-nav" data-element="main-nav-right">
      <ul class="nav-list" role="list">
        <li class="nav-list-item">
          <a href="/resume" class="btn btn-header">Resume</a>
        </li>
        <li class="nav-list-item">
          <a
            href="#"
            class="btn btn-header"
            data-element="btn-header-joke"
            >Try Me!</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>