---
import LinkAstroComponent from "./../components/link.component.astro"

const {
  alertHtml = ""
} = Astro.props
---
<header class="main-header" data-element="main-header">
  <Fragment set:html={alertHtml}></Fragment>
  <div class="main-header-content">
    <nav class="main-nav" data-element="main-nav-mobile">
      <ul class="nav-list" role="list">
        <li class="nav-list-item">
          <LinkAstroComponent href="#" className="btn-header" dataElement="btn-header-joke-mobile">
						<i class="fa-duotone fa-face-laugh-beam"></i>
					</LinkAstroComponent>
        </li>
        <li class="nav-list-item">
          <LinkAstroComponent href="#" className="btn-header" dataElement="main-header-expand">
						<i class="fa-solid fa-bars"></i>
					</LinkAstroComponent>
        </li>
      </ul>
    </nav>

    <LinkAstroComponent href="#" className="btn-header" dataElement="main-header-close">
      <i class="fa-solid fa-times"></i>
    </LinkAstroComponent>

    <nav class="main-nav" data-element="main-nav-left">
      <ul class="nav-list" role="list">
        <li class="nav-list-item">
          <LinkAstroComponent href="/about" className="btn-header">
						About
					</LinkAstroComponent>
        </li>
        <li class="nav-list-item">
          <LinkAstroComponent href="/portfolio/1" className="btn-header">
						Portfolio
					</LinkAstroComponent>
        </li>
      </ul>
    </nav>

    <nav class="main-nav" data-element="main-nav-center">
      <ul class="nav-list" role="list">
        <li class="nav-list-item">
          <LinkAstroComponent href="/" className="btn-header">
						<div class="brand-line"></div>
            <div class="ff-secondary fsize-500">D/D</div>
            <div class="brand-line"></div>
					</LinkAstroComponent>
        </li>
      </ul>
    </nav>

    <nav class="main-nav" data-element="main-nav-right">
      <ul class="nav-list" role="list">
        <li class="nav-list-item">
          <LinkAstroComponent href="/resume" className="btn-header">
						Resume
					</LinkAstroComponent>
        </li>
        <li class="nav-list-item">
          <LinkAstroComponent href="#" className="btn-header" dataElement="btn-header-joke">
						Try Me!
					</LinkAstroComponent>
        </li>
      </ul>
    </nav>
  </div>
</header>