<div class="modal" data-element="modal-image" aria-expanded="false">
    <div class="modal-dialog | ta-center">
        <i class="fa-solid fa-xmark fsize-500" data-element="modal-close"></i>
        <div class="modal-dialog__body">
            <img class="modal-dialog-image" src="" alt="">
        </div>

        <div class="modal-dialog__footer">
            <button
            type="button"
            class="btn btn-accent"
            data-element="btn-modal-close"
            >
                Close <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
</div>