<div class="modal" data-element="modal-jokes">
    <div class="modal-dialog | ta-center">
      <i class="fa-solid fa-xmark fsize-500" data-element="modal-close"></i>

      <div class="modal-dialog__header">
        <h2 class="ff-secondary fw-medium fsize-700 m-b-200">
          A lame joke&hellip;
          <i class="fa-duotone fa-face-laugh-squint"></i>
        </h2>
      </div>

      <div class="modal-dialog__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          aliquid consequuntur ducimus id eligendi sequi sapiente est
          corrupti illum autem!
        </p>
        <p>
          Nulla exercitationem tempore, molestiae laborum cum ullam culpa
          facere magni suscipit? Mollitia assumenda fugiat temporibus
          perferendis quaerat, error eum quasi.
        </p>
        <p>
          Repellendus enim nemo similique, nobis hic sit dolor molestiae
          accusamus rem sequi dolorem est vitae corrupti! Dolorem sequi
          magni dolore.
        </p>
      </div>

      <div class="modal-dialog__footer">
        <button
          type="button"
          class="btn btn-accent"
          data-element="btn-modal-close"
        >
          Close <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
</div>