---
const { page } = Astro.props
---
<ul class="pagination" role="list">
    <li class="pagination-item">
        <a href="./project-item.html" class="pagination-link">
            <i class="fa-solid fa-chevrons-left"></i>
        </a>
    </li>
    <li class="pagination-item">
        <a href="./project-item.html" class="pagination-link">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
    </li>
    <li class="pagination-item">
        <a href="./project-item.html" class="pagination-link">3</a>
    </li>
    <li class="pagination-item">
        <a href="./project-item.html" class="pagination-link active"
            >4</a
        >
    </li>
    <li class="pagination-item">
        <a href="./project-item.html" class="pagination-link">5</a>
    </li>
    <li class="pagination-item">
        <a href="./project-item.html" class="pagination-link">
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </li>
    <li class="pagination-item">
        <a href="./project-item.html" class="pagination-link">
            <i class="fa-solid fa-chevrons-right"></i>
        </a>
    </li>
</ul>