---
import MainAstroLayout from "./../../layouts/main.layout.astro"
import CardAstroComponent from "./../../components/card.component.astro"
import PaginationAstroComponent from "./../../components/pagination.component.astro"

export async function getStaticPaths({ paginate }: any) {
  const projectPages = await Astro.glob("./../projects/*.md")
  projectPages
    .filter((post) => !post.frontmatter.draft)
    .sort((a: any, b: any) => {
      const A = a.frontmatter.date
      const B = b.frontmatter.date

      let comparison = 0
      if (A > B) {
        comparison = -1
      } else if (A < B) {
        comparison = 1
      } else {
        comparison = 0
      }

      return comparison
    })
  return paginate(projectPages, { pageSize: import.meta.env.PER_PAGE })
}

const { page } = Astro.props
---

<MainAstroLayout>
  <section
    id="home"
    class="section section-primary-200 section-primary-200-to-gray-900 section-reverse clr-gray-900"
  >
    <div class="section-inner container section-inner-hero">
      <div class="section-inner-hero__content-cell">
        <h1 class="ff-secondary fsize-700 fw-medium">
          Portfolio ({page.currentPage}/{page.lastPage})
        </h1>
      </div>
      <div class="section-inner-hero__icon-cell">
        <div class="section-inner-hero__icon-cell__icon-container">
          <i
            class="fa-duotone fa-laptop-code section-inner-hero__icon-cell__icon-container__icon clr-yellow-500"
          ></i>
        </div>
      </div>
    </div>
  </section>

  <section
    id="projects"
    class="section section-gray-900 section-gray-900-to-gray-900"
  >
    <div class="section-inner container">
      <div class="card-grid">
        {page.data.map((item: any) => <CardAstroComponent item={item} />)}
      </div>
      <!-- ./card-grid -->

      <PaginationAstroComponent page={page} />
    </div>
  </section>
</MainAstroLayout>
